@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100vh;
    background: rgb(255, 247, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top_box{
    width: 90%;
}

.title_box {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.titleArea {
    width: 100%;
    display: flex;
    height: 60vh;
    margin: 2%;
    justify-content: space-between;
}

.titleArea img {
    width: 60%;
}

.titleArea h1 {
    font-size: 8vw;
}

button {
    margin: 2%;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: #fca641;
    font-size: 7vh;
    font-weight: bold;
    color: white;
    border: none;
}

button:hover,
#topBtn:hover {
    background: #7ef49c;
    cursor: pointer;
}

#topBtn{
    background: rgb(255, 32, 210);
    margin-top: 10%;
}

.play_area {
    margin-top: 2%;
    width: 80%;
    height: 75vh;
    background-image: url(./imgage/playarea.jpg);
    background-size: cover;
    animation: back 5s infinite linear;
    position: relative;
}

@keyframes back {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 360px 0;
    }
}

p {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.open {
    width: 100%;
    height: 75vh;
    background: #7ef49c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open p {
    font-size: 100px;
}

.animation_area {
    width: 100%;
    height: 50vh;
    position: absolute;
}

#runcat,
#runcat2,
#runcat3 {
    width: 200px;
    position: absolute;
    top: 60%;
    left: 9%;
}

#runcat3 {
    left: 50%;
}

#runcat {
    animation: catAnime1 1s ease-in infinite;
}

@keyframes catAnime1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#runcat2 {
    animation: catAnime2 1s ease-in infinite;
}

@keyframes catAnime2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#mouse,
#mouse2,
#mouse3 {
    width: 100px;
    position: absolute;
    top: 90%;
    left: 70%;
}

#mouse {
    animation: mouseAnime1 1s ease-in infinite;
}

@keyframes mouseAnime1 {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

#mouse2 {
    animation: mouseAnime2 1s ease-in infinite;
}

@keyframes mouseAnime2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
