@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffeeb1;
    overflow-x: hidden;
}

.top_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_box {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.title_text {
    width: 60%;
    margin: 32px 0 32px 32px;
}

.title_box img {
    width: 40%;
}

.title_text h1 {
    font-size: 72px;
    line-height: 1em;
}

.title_text h1:nth-child(2) {
    text-align: center;
    margin-left: 120px;
}

button {
    width: 300px;
    height: 150px;
    background: #fca641;
    border: 5px solid white;
    border-radius: 50px;
    font-size: 56px;
    color: white;
    letter-spacing: 0.5rem;
    font-weight: bold;
}

button:hover {
    background: #7ef49c;
    cursor: pointer;
}

.start {
    position: absolute;
    top: 30%;
    right: 25%;
}

#topBtn {
    background: rgb(255, 0, 81);
    text-align: center;
}

.play_area {
    margin: 42px auto;
    width: 50%;
    height: 50vh;
    background-image: url(./imgage/playarea.jpg);
    background-size: contain;
    animation: back 5s infinite linear;
    position: relative;
}

@keyframes back {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 360px 0;
    }
}

p {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.open {
    width: 100%;
    height: 50vh;
    background: #7ef49c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open p {
    font-size: 100px;
}

.animation_area {
    width: 100%;
    height: 50vh;
    position: absolute;
}

#caution {
    width: 200px;
    margin: 32px 0 0 32px;
    display: none;
}

#runcat,
#runcat2,
#runcat3 {
    width: 200px;
    position: absolute;
    top: 30%;
    left: 9%;
}

#runcat3 {
    left: 50%;
}

#runcat {
    animation: catAnime1 1s ease-in infinite;
}

@keyframes catAnime1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#runcat2 {
    animation: catAnime2 1s ease-in infinite;
}

@keyframes catAnime2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#mouse,
#mouse2,
#mouse3 {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
}

#mouse {
    animation: mouseAnime1 1s ease-in infinite;
}

@keyframes mouseAnime1 {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

#mouse2 {
    animation: mouseAnime2 1s ease-in infinite;
}

@keyframes mouseAnime2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.button_area {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;
}

.button_area button {
    margin: 16px;
}